
.profile-picture img {
  border-radius: 50%;
  height: 110px;
  width: 110px;
  display: block; 
  margin: 0 auto; 
}
 */
 body{
 margin: 8px; 
 }
 /* .content2{
  
 } */
 input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.signature-content2{
  /* display: flex; */
  margin-top: 8px;
}
.signature-details2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
 padding: 0px 0px 0px 18px;
}

.profile-picture2{
  margin-top: 16px;
}

.logos2{
  margin-left: 4px;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
.links2{
  font-size: 9px;
  line-height: 14px;
  font-family: Verdana, "Verdana Ref", sans-serif;
  color: rgb(0, 0, 0);
  margin-right: 4px;
  text-decoration: underline;
}
.web-phone-content2{
  font-family: Verdana, "Verdana Ref", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 10.5px;
    line-height: 16px;
    margin-right: 4px;
    text-decoration: underline;
}
.meeting-logo2{
  width: 16px;
  height: 15px;
  margin-left: 4px;
  margin-right: 4px;
}
#horizontal-line2{
  width: 350px;
}
.title-company2{
  font-weight:bold;
  font-size:12px;
  margin:0px;
  font-family: Verdana, "Verdana Ref", sans-serif;
    color: rgb(0, 0, 0);
 
    line-height: 18px;
    padding-top: 2px;
    padding-bottom: 5px;
}
.address2{
 font-size: 10.5px;
 font-family: Verdana, "Verdana Ref", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 16px;
}
.address-logo2{
  width: 13px;
  height: 16px;
  margin-right: 4px;
  margin-left: 4px;
}
.anchor-link2{
color: black;
margin: 0.1px;

}
.social-media-logo2{
  width: 22px;
  height: 22px;
  margin-right: 4px;
}
.facebook-logo2{
  width: 11px;
  height: 11px;
}
.feedback-content2{
  font-family: Verdana, "Verdana Ref", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 9px;
    height: 22px;
    padding-top: 0px;
    margin-left: 30px;
   
}

.description-area2{
  max-width: 500px;
  font-family: Verdana,"Verdana Ref",sans-serif;
  color: rgb(0,0,0);
  font-size: 9px;
  line-height: 16px;
  padding-top: 0px;
}
hr{
  border-bottom: 2px solid rgb(10,135,176);
  margin: 0;
  width: 350px;
}
.description2{
  max-width: 500px;
}
.desc-test2{
  max-width: 500px;
}
.img-preview2 {
  overflow: hidden;
margin-top: 30px;
}
.img-preview{
  overflow: hidden;
  margin-top: 30px;
  border-radius: "50%";
  width: "110px";
  float: "left";
    height: "110px";
     overflow: "hidden";
    border-radius: 50%;
}
.username2{
  font-family: Verdana, "Verdana Ref", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 9px;
    line-height: 20px;
}
.companies2{
  width: 450px;
}
.mail-logo2{
  margin-left: 4px;
  margin-right: 4px;
}
/* General button styles */
.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Specific styles for the 'Choose Template 1' button */
.button-template-1 {
  background-color: #4CAF50; /* Green */
  color: white;
}

.button-template-1:hover {
  background-color: #45a049;
}

/* Specific styles for the 'Choose Template 2' button */
.button-template-2 {
  background-color: #008CBA; /* Blue */
  color: white;
}

.button-template-2:hover {
  background-color: #007BB5;
}
.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
.image-preview {
  width: 200px;
  height: 200px;
}
.submit-button{
  background-color: #007bff; /* Blue */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.submit-button:hover {
  background-color: #0056b3;
}